<h1> All {{modelName}} </h1>

<table>
	<tr>
		<th>Time</th>
		<th>Email</th>
		<th>Recipe</th>
	</tr>
	
	{{#each models}}
		<tr>
			<td class="participant-tr">{{this.time}}</td>
			<td class="participant-tr">{{this.email}}</td>
			<td class="participant-tr">{{this.recipe}}</td>
		</tr>
	{{/each}}

</table>